.App {
    text-align: center;
}

h1 {
    font-family: 'Bigelow Rules';
    font-size: 72px;
    color: #95dada;
}

.search:focus {
    outline: none;
    border-bottom: 2px solid #95dada;
    transform-origin: top;
}